body{
    background-color:white;
    margin: 0;
    padding: 2;
    font-family: "Lato",sans-serif;
}
.navbar{
    padding: 0.1rem 1rem;
}
.navbar-brand{
    margin-right: 5px;
}

/* optional */
.nav-link{
    font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.1rem;
}

.content{
    font-family: "Lato",sans-serif;
    height: fit-content;
    background-color: #e9f7ed;
    font-weight: 400;
    padding: 1% 2%;
    margin: 0% 10%;
}
.spacecomplexity{
    display:inline-block;
}
.pseudo-code-list{
    list-style: none;
}

.nav-searching{
    color: black;
    opacity: 55%;

}
.nav-searching:hover{
    color: black;
    opacity: 100%;
    text-decoration: none;
}
